.venv/
__pycache__/
runs/
outputs/
.data/
*.pt
*.onnx
*.log
*.json
data/



Handwritten-Digit-Recongnition/.ipynb_checkpoints/
Handwritten-Digit-Recongnition/cnn1.py
Handwritten-Digit-Recongnition/cnn2.py
Handwritten-Digit-Recongnition/cnn3.py
Handwritten-Digit-Recongnition/cnn_notebook.ipynb
Handwritten-Digit-Recongnition/debug_ballot/